Repository nahuellorenzo/recalc, pull requests merged in 2023-06, with the labels that each got.

#51 Modifico el test para guardar el atributo error
  test/models.test.js
Labels: test

#53 Agrego función MUL en la interfaz y su respectivo test e2e
  src/public/index.js
  test/ui.test.js
Labels: enhancement, test

#54 Agrego operación de Pow
  src/public/index.html
  src/public/index.js
  test/ui.test.js
Labels: enhancement, test

#55 Agrego funcion Div en la interfaz y su respectivo test e2e
  src/public/index.js
  test/ui.test.js
Labels: enhancement, test

#56 Test estáticos
  .eslintrc.cjs
  src/api.js
  src/controllers.js
  src/core.js
  src/models.js
  src/public/index.js
Labels: test

#58 Bug boton c
  src/public/index.js
  test/ui.test.js
Labels: bug, test

#59 Agrego funcionalidad square y test
  src/public/index.html
  src/public/index.js
  test/ui.test.js
Labels: enhancement, test

#60 Bug undefined "="
  src/public/index.js
  test/ui.test.js
Labels: bug, test

#61 Arreglo el bug de resta para numeros negativos y su respectivo test
  src/public/index.js
  test/ui.test.js
Labels: bug, test

#62 Release v1.3.3
  .eslintrc.cjs
  CHANGELOG.md
  README.md
  package.json
  src/api.js
  src/cli.js
  src/controllers.js
  src/core.js
  src/models.js
  src/public/index.html
  src/public/index.js
  src/seed.js
  test/api.test.js
  test/core.test.js
  test/models.test.js
  test/ui.test.js
Labels: Release
